{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
<button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <!-- AMP plug -->
    
    <!-- </div> -->
</section>

<section class="header1 cid-s329LqqU6i" id="header01-1a">
    
    
    <div class="container-fluid mbr-white">
        <div class="mbr-row">
            <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                <div class="content">
                    
                    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">Sunglasses Shop</h1>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">Unique glasses for a new era
                        of fashion.</p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span>Discover</a>
                    </div>
                </div>
            </div>
            <div class="mbr-col-lg-7 mbr-col-md-12 img-col mbr-m-auto mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/01.jpg" alt="" width="1099.8670212765958" height="919" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ampFeatures2 cid-s32acKsUxn" id="ampFeatures2-1o">
    

    
    <div class="container">
        <div class="title mbr-pb-4">
            <h3 class="mbr-section-title mbr-pb-3 mbr-semibold mbr-white mbr-fonts-style display-1">Features</h3>
            
        </div>
        <div class="mbr-row">
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Set
                            Priorities Correctly</h3>
                        
                        <p class="card-text mbr-fonts-style mbr-white mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec.</p>

                    </div>
                </div>
            </div>

            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 md-pb">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Сonsider All
                            The Factors</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-white mbr-semibold mbr-fonts-style display-5">Use The Best
                            Tools</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="card mbr-col-sm-12 mbr-col-md-6 mbr-col-lg-6 last-child">
                <div class="card-wrapper">
                    
                    <div class="card-box mbr-m-auto mbr-pt-3">
                        <h3 class="card-title mbr-semibold mbr-white mbr-fonts-style display-5">Analyze
                            Competitors</h3>
                        
                        <p class="card-text mbr-white mbr-fonts-style mbr-pt-2 display-7">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pellentesque sed mauris volutpat, porttitor tellus et,
                            sagittis leo. Mauris mollis tempus risus, vitae pellentesque nibh aliquam in. Fusce euismod
                            vestibulum enim, a gravida odio congue nec. </p>

                    </div>
                </div>
            </div>
            <div class="mbr-col-md-12 mbr-col-lg-12 mbr-col-sm-12">

                <div class="card-btn mbr-pt-4 mbr-section-btn mbr-pt-2"><a class="btn btn-white-outline display-4" href="#">Read More</a></div>
            </div>
        </div>
    </div>
</section>

<section class="content1 cid-s329LrFpw4" id="content01-1b">

    
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-8 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-1 align-center display-5">
                    Learn more about our brand</h3>
                <p class="mbr-fonts-style mbr-text align-center display-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo suscipit vulputate.
                    Maecenas rutrum mollis arcu, at condimentum lorem <a href="#" class="text-black">@mobirise</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="clients1 cid-s329LGN3N2" id="clients01-1k">

    
    <div class="container">
        <div class="mbr-row mbr-jc-c">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-black mbr-fonts-style mbr-pb-5 align-left display-5">Seen on
                    Press</h3>
                <p class="mbr-fonts-style mbr-text align-left mbr-pb-3 display-5">"Lorem ipsum dolor sit amet consectetur adipiscing
                    commodo suscipit"</p>
            </div>

            <div class="line"></div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/1.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/2.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/3.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>
            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/4.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

            <div class="mbr-col-lg-1 mbr-col-md-3 mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/5.png" alt="" width="104.39999999999999" height="87" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="form footer2 cid-s329LP89oP" id="footer02-1n">
    
    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Shop</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">New Arrivals</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Best Sellers</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Gift Guide</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Sales</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Visit Us</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Explore</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">About Us</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Collaborations</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Product Care</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Stories</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Lookbooks</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>More</strong></h3>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">My Account</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Custom Orders</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Size Guide</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Careers</p>
                </div>

                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Contact</p>
                </div>
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12 mbr-form" data-form-type="formoid">
                <div class="wrapper" data-form-type="formoid">
                    <h3 class="mbr-section-title mbr-black mbr-fonts-style mbr-pb-2 align-left display-4">Exclusive
                        benefits
                    </h3>
                    <!--Formbuilder Form-->
                    <form method="POST" class="mbr-form" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="zYkld0ArbIUurId7usRPKVgeaOnJ+Xr8Hbupb38PXb9qC5NpBCM/ahvd0Ye9Jc4YvqG8p/CfBLJ2ooGXFIO+6KkZmf4oTAmFpGUPLnVfrddX0dYJhszd6KibIc1L6QFR.R7dFKHzrxXpLc0JeCwt3t4yf8L+rtVhQLGxOvkBDAk0DTU1w/jWXIJyAumGLgHWRGgpel7N8yFymgVUFX71Mv1o97vgr+l0nEe1HgoQx1KZPrvuTIxOZR0l+6upeYmP9">
                        <div class="mbr-row">
                            <div submit-success="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                                <template data-form-alert="" type="amp-mustache">Thanks for filling out the
                                    form!</template>
                            </div>
                           
                        </div>
                        <div class="dragArea mbr-row">
                            <div class="mbr-col field" data-for="form[data][0][1]" style="">
                                <input type="hidden" name="form[data][0][0]" value="email" id="form[data][0][0]-footer02-1n" data-form-field="">
                                <input type="email" name="form[data][0][1]" placeholder="Enter email here" data-form-field="email" class="field-input display-7" value="" id="form[data][0][1]-footer02-1n">
                            </div>
                            <div class="mbr-col-auto" style=""><button type="submit" class="btn btn-black display-7"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span></button>
                            </div>
                        </div>
                    <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-footer02-1n" required="">By continuing you agree to our <a style="color: #767676; text-decoration: none;" href="terms.html">Terms of Service</a> and <a style="color: #767676; text-decoration: none;" href="policy.html">Privacy Policy</a>.</span>
</label>
</span></form>
                    <!--Formbuilder Form-->
                    <p class="mbr-fonts-style mbr-form-text mbr-pt-3 align-left display-4">Apply for our free membership to receive
                        exclusive deals, news, and events.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
