{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!-- COLLAPSED MENU END -->
            
            <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <!-- AMP plug -->
    
    <!-- </div> -->
</section>

<section class="header1 cid-s329JPS3tA" id="header01-v">
    
    
    <div class="container-fluid mbr-white">
        <div class="mbr-row">
            <div class="mbr-col-lg-5 mbr-col-md-12 mbr-m-auto mbr-col-sm-12 md-pb">
                <div class="content">
                    
                    <h1 class="mbr-section-title mbr-fonts-style align-left mbr-pb-2 display-1">Sunglasses Shop</h1>
                    <p class="mbr-fonts-style mbr-text align-left mbr-pb-5  display-7">Unique glasses for a new era
                        of fashion.</p>
                    <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span>Discover</a>
                    </div>
                </div>
            </div>
            <div class="mbr-col-lg-7 mbr-col-md-12 img-col mbr-m-auto mbr-col-sm-12">
                <div class="img-wrapper">
                    <amp-img src="assets/images/01.jpg" alt="" width="1099.8670212765958" height="919" layout="responsive" class="mobirise-loader mbr-m-auto align-center">
                        <div placeholder="" class="placeholder">
                                <div class="mobirise-spinner">
                                    <em></em>
                                    <em></em>
                                    <em></em>
                                </div></div>
                        
                    </amp-img>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content5 cid-s329JSYoFs" id="content05-y">

    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-3 align-left display-2">Product Care and Tips</h3>
                <p class="mbr-fonts-style mbr-text align-left display-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                    sollicitudin orci vel risus ultricies semper.</p>
            </div>
        </div>
    </div>
</section>

<section class="form form1 cid-s329Ka5vg5" id="form01-16">
    
    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-12 mbr-col-md-12 mbr-pb-5 mbr-col-sm-12">
                <h2 class="mbr-section-title mbr-fonts-style mbr-pb-3 align-left display-2">Contact us</h2>
                <h3 class="mbr-fonts-style mbr-subtitle align-left display-7">Let us know how we can help you.</h3>
            </div>

            <div class="mbr-col-lg-6 mbr-col-md-12 mbr-col-sm-12 md-pb mbr-form" data-form-type="formoid">




                <!--Formbuilder Form-->
                <form method="POST" class="mbr-form" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="kdW0gBK0BiISg8EaJfi452A+FAhIJf2ji3IVKUFHbbdANFDS0joBMcw1bcXsQ42Ud4lyNPJkR1utuNUhKhGx4grGFEtOGgaEKyNXdPwXrNsoWNrjNl6XxZQkP52VGLaX.k4u0AUpew7LdeRIwoX24DQeuk1m16/QXfwNqzfrjMsBmJB1fI830rixSgxsx4WAveh2141qxNUU5vkJg1lubrZaXIEDu915OWfycVazHGxQvu3Tu/Pjs0mcnlXsgpxKS">
                    <div class="mbr-row">
                        <div submit-success="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                            <template data-form-alert="" type="amp-mustache">Thanks for filling out the form!</template>
                        </div>
                        
                    </div>
                    <div class="dragArea mbr-row">
                        <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field" data-for="form[data][0][1]">
                            <input type="hidden" name="form[data][0][0]" value="name" id="form[data][0][0]-form01-16" data-form-field="">
                            <input type="text" name="form[data][0][1]" placeholder="Full Name" data-form-field="name" class="field-input display-7" value="" id="form[data][0][1]-form01-16">
                        </div>
                        <div class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field" data-for="form[data][1][1]">
                            <input type="hidden" name="form[data][1][0]" value="email" id="form[data][1][0]-form01-16" data-form-field="">
                            <input type="email" name="form[data][1][1]" placeholder="Email" data-form-field="email" class="field-input display-7" value="" id="form[data][1][1]-form01-16">
                        </div>
                        <div data-for="form[data][2][1]" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field">
                            <input type="hidden" name="form[data][2][0]" value="text" id="form[data][2][0]-form01-16" data-form-field="">
                            <input type="text" name="form[data][2][1]" placeholder="Subject" data-form-field="text" class="field-input display-7" value="" id="form[data][2][1]-form01-16">
                        </div>
                        <div data-for="form[data][3][1]" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12 field">
                            <input type="hidden" name="form[data][3][0]" value="message" id="form[data][3][0]-form01-16" data-form-field="">
                            <textarea name="form[data][3][1]" placeholder="Comment" data-form-field="message" class="field-input display-7" id="form[data][3][1]-form01-16"></textarea>
                        </div>
                        <div class="mbr-col-auto"><button type="submit" class="btn btn-black display-7">Send</button></div>
                    </div>
                <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-form01-16" required="">By continuing you agree to our <a style="color: #767676; text-decoration: none;" href="terms.html">Terms of Service</a> and <a style="color: #767676; text-decoration: none;" href="policy.html">Privacy Policy</a>.</span>
</label>
</span></form>
                <!--Formbuilder Form-->
            </div>

            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Information&nbsp;</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Customer service</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Sales</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Press</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">support@yoursite.com</p>
                </div>

                <div class="item">
                    <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-1 align-left display-7"><strong>Follow us</strong></h3>
                    <p class="mbr-fonts-style mbr-text align-left display-4">Instagram
                        <br>Pinterest
                        <br>Twitter
                        <br>Facebook</p>
                </div>

            </div>




        </div>
    </div>
</section>

<section class="form footer2 cid-s329KcGcFn" id="footer02-18">
    
    
    <div class="container">
        <div class="mbr-row">
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Shop</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">New Arrivals</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Best Sellers</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Gift Guide</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Sales</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Visit Us</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>Explore</strong></h3>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">About Us</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Collaborations</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Product Care</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Stories</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Lookbooks</p>
                </div>
            </div>
            <div class="mbr-col-lg-2 mbr-col-md-4 mbr-col-sm-12 md-pb">
                <h3 class="mbr-section-subtitle mbr-fonts-style mbr-pb-2 align-left display-4"><strong>More</strong></h3>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">My Account</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Custom Orders</p>
                </div>
                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Size Guide</p>
                </div>
                <div class="item">

                    <p class="mbr-fonts-style mbr-text align-left display-4">Careers</p>
                </div>

                <div class="item">
                    <p class="mbr-fonts-style mbr-text align-left display-4">Contact</p>
                </div>
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12">
            </div>
            <div class="mbr-col-lg-3 mbr-col-md-12 mbr-col-sm-12 mbr-form" data-form-type="formoid">
                <div class="wrapper" data-form-type="formoid">
                    <h3 class="mbr-section-title mbr-black mbr-fonts-style mbr-pb-2 align-left display-4">Exclusive
                        benefits
                    </h3>
                    <!--Formbuilder Form-->
                    <form method="POST" class="mbr-form" action-xhr="https://formoid.net/api/amp-form/push" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="bynNZ58L9pWVH7rE8HDe/LAmSm78gMsztJ43V6CNjlXGvoQu5/LEcwpyuO9EPqw3+dTxGxYrnYlYiehpsNJklhqMf4WevjCXQnHNJrFyuq30lnnEDrZJb+KqJvJJxjyr.bj8chyq/jb/QF0tMJPYj9K+V++APj6sbcRE746D8SFgBqTtN09jqvax7zO0Gekh/Av1h1j2JJu3nmAir90rAL9gFsQGjVvR0sqaTfwvtAPwhVWtQewfYNWmQ7qENUEX3">
                        <div class="mbr-row">
                            <div submit-success="" class="mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                                <template data-form-alert="" type="amp-mustache">Thanks for filling out the
                                    form!</template>
                            </div>
                            
                        </div>
                        <div class="dragArea mbr-row">
                            <div class="mbr-col field" data-for="form[data][0][1]" style="">
                                <input type="hidden" name="form[data][0][0]" value="email" id="form[data][0][0]-footer02-18" data-form-field="">
                                <input type="email" name="form[data][0][1]" placeholder="Enter email here" data-form-field="email" class="field-input display-7" value="" id="form[data][0][1]-footer02-18">
                            </div>
                            <div class="mbr-col-auto" style=""><button type="submit" class="btn btn-black display-7"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="19" height="19"><path d="M24 11l-6.7 6.7-1.4-1.4 4.3-4.3H0v-2h20.2l-4.3-4.3 1.4-1.4L24 11z"></path></svg></span></button>
                            </div>
                        </div>
                    <span class="gdpr-block">
<label>
<span class="textGDPR" style="color: #a7a7a7"><input type="checkbox" name="gdpr" id="gdpr-footer02-18" required="">By continuing you agree to our <a style="color: #767676; text-decoration: none;" href="terms.html">Terms of Service</a> and <a style="color: #767676; text-decoration: none;" href="policy.html">Privacy Policy</a>.</span>
</label>
</span></form>
                    <!--Formbuilder Form-->
                    <p class="mbr-fonts-style mbr-form-text mbr-pt-3 align-left display-4">Apply for our free membership to receive
                        exclusive deals, news, and events.</p>
                </div>
            </div>
        </div>
    </div>
</section>>
{% endblock %}
